<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @ajaxis.id %>
</p>

<p>
  <b>Name:</b>
  <%= @ajaxis.name %>
</p>


<%= link_to 'Edit', edit_ajaxis_path(@ajaxis) %> |
<%= link_to 'Back', ajaxes_path %>
