<div>
  <p>注册成功，请激活后登录</p>
  <p><h3><%=@user.name %>,您好！</h3></p>
  <p>请在浏览器的地址栏中输入如下地址来激活您的账户</p>
  <p><a href="http://localhost:3000/account/proActivate?name=<%=@user.name %>&active_code=<%=@user.active_code %>">
    http://localhost:3000/account/proActivate?name=<%=@user.name %>&active_code=<%=@user.active_code %>
  </a></p>
</div>

