
<p>
  <b>编号:</b>
  <%= @cart.id %>
</p>

<p>
  <b>图书名称:</b>
  <%= @cart.name %>
</p>

<p>
  <b>详细信息:</b>
  <%= @cart.details %>
</p>

<p>
  <b>图书封面:</b><br>
 <img src="../images/<%= @cart.img %>.jpg" alt="图书展示"> 
</p>

<p>
  <b>图书价格:</b>
  <%= @cart.price %>
</p>
