<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @order.id %>
</p>

<p>
  <b>Bookname:</b>
  <%= @order.bookname %>
</p>

<p>
  <b>Starttime:</b>
  <%= @order.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @order.endtime %>
</p>

<p>
  <b>State:</b>
  <%= @order.state %>
</p>

<p>
  <b>Comment:</b>
  <%= @order.comment %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
