<% content_for(:head) do -%>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'live-comment-preview' %>
<% end -%>
<% content_for(:page_title) do -%>
<%= post_title(@post) -%>
<% end -%>
<%= render :partial => 'posts/post', :locals => {:post => @post} %>
<p class="readMore">
<ol class="commentlist">
  <% @post.approved_comments.each do |comment| -%>
  <li<%=raw cycle(' class="alt"', '') %> id="comment-<%= comment.id %>">
    <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
  </li>
  <% end -%>
</ol>
</p>
<div class="related">还在找什么呢？单击这里查看所有的随笔归档。 <%= link_to("GO！", archives_path) %>.</div>
<p></p>
<dl id="postComment" class="list">
<dt>发表您的评论：</dt>
  <% unless @comment.errors.empty? -%>
  <div class="errors">
    <h3>评论发表出错。</h3>
    <ul>
      <% @comment.errors.sort_by(&:first).each do |error| -%>
        <li><%= format_comment_error(error) %></li>
      <% end -%>
    </ul>
  </div>
  <% end -%>
<%= form_for([@post, @comment]) do |form| -%>
 <dd><%= form.text_field 'author' %><label for="comment_author"><small>(*必须)</small></label></dd>
    <dd><%= form.text_area 'body', :rows => 2, :cols => 50 %><br><small>(*必须)</small></dd>
   <dd><%= submit_tag "提交" %></dd>
</dl>
<% end -%>
